{
	"useTabs": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"singleQuote": false,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"quoteProps": "consistent",
	"plugins": ["prettier-plugin-tailwindcss"]
}
