@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-neutral-800;
		scrollbar-gutter: stable;
	}

	html::after {
		content: "";
		background: url("equipment.avif");
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: fixed;
		z-index: -1;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}
}

@layer components {
	.input {
		@apply border-2 border-neutral-200 px-5 outline-none;
	}

	.input:focus {
		@apply border-sky-600;
	}

	.btn {
		@apply w-fit bg-neutral-300 px-5 py-2;
	}

	.btn:hover {
		@apply bg-blue-200;
	}

	.btn:active {
		@apply bg-blue-300;
	}
}
